@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


/* ******* TABLE OF CONTENTS ******* */
/* STATUS BANNER */
/* ADD TASK FORM */
/* ADD FOLDER FORM */

/* ******* TABLE OF CONTENTS ******* */


:root {
--dark-4: #1e1d20;
--dark-3: #403c48;
--dark-sb: #501525;
--dark-at: #503715;
--dark-af: #153f50;
--dark-dl: #211550;
--dark-task: #9a3030;
--dark-priority: #a7f706;
--dark-2: #818FB4;
--dark-1: #ffe606;

--base: #ffffff;

/* border colors */

--cp1: #f47f7f;
--cp2: #f59f88;
--cp3: #ecdca9;
--cp4: #aaf884;
--cp5: #73dda7;
--cp6: #78dfe8;
--cp7: #7c81df;
--cp9: #b178e7;
--cp8: #e978da;
--cp10: #ea80a3;

--font-fancy: "Cabin Sketch", sans-serif;
--font-hand: "Indie Flower", cursive;
--font-plain:  "Questrial", sans-serif;

--font-title-1: 1.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-4);
    color: var(--dark-1);
}

header {
    height: fit-content;
        display: flex;
        flex-direction: column;
    margin-top: .5rem;
}

.title-font {
    font-family: var(--font-fancy);
}

#app-title {
    height: fit-content;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    font-size: var(--font-title-1);
}

#app-title img {
    height: 1.75rem;
    width: 1.75rem;
    align-self: baseline;
}

nav {
    height: auto;
    width: auto;
    /* background-color: var(--dark-3); */
    border: 1px solid var(--dark-4); 
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    font-size: var(--font-title-1);
    margin-bottom: .5rem;
    padding: .25rem;
}

nav button {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--dark-1);
    border-radius: 2.5rem;
    display: flex;
        justify-content: center;
        align-items: center;
    padding: .25rem;
}

nav #status-btn{
    background-color: var(--dark-sb);
}

nav #add-task-btn {
    background-color: var(--dark-at);
}

nav #add-folder-btn {
    background-color: var(--dark-af);
}

nav #dark-light-btn {
    background-color: var(--dark-dl);
}

nav button:hover, nav button:focus {
    border: 1px dashed var(--dark-1);
    outline: none;
    transform: scale(1.2);
}

nav button:active {
    transform: scale(.9);
}

nav button img {
    height: 1.5rem;
    width: 1.5rem;
}

#status-banner.flex, #new-task-form.flex, #new-folder-form.flex
{
    display: flex;
}

/* #status-banner.none, #new-task-form.none, #new-folder-form.none
{
    display: none;
} */

#status-banner {
    height: fit-content;
    background-color: var(--dark-sb);
    border: 1px solid var(--dark-4); 
    display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    padding: .25rem;
}

#status-btns {
    display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;
}

#status-banner button {
    height: 2rem;
    width: fit-content;
    background-color: inherit;
    border: 1px solid var(--dark-1);
    border-radius: .5rem;
    color: var(--dark-1);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: 1rem;
    outline: none;
    padding: .25rem;
}

#status-banner button:hover, #status-banner button:focus {
    background-color: var(--dark-4);
    border: 1px dashed var(--dark-1);
    transform: scale(1.2);
}

#status-banner button:active {
    transform: scale(.9);
}

#status-banner button img {
    height: 1rem;
    width: 1rem;
    margin-right: .1rem;
}

#new-task-form {
    background-color: var(--dark-at);
}

#new-folder-form {
    background-color: var(--dark-af);
}

#new-task-form, #new-folder-form {
    height: fit-content;
    border: 1px solid var(--dark-4); 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    font-family: var(--font-plain);
    font-size: 1rem;
    padding: 1rem;
}

#new-task-form img, #new-folder-form img {
    height: 2rem;
}

#new-task-form p, #new-folder-form p {
    font-size: 2rem;
}

#new-task-form .form-field-title, #new-folder-form .form-field-title {
    font-family: var(--font-hand);
    font-size: 1.25rem;
    margin-bottom: -.25rem;
}

form input, form select {
    height: 1.75rem;
    width: 27ch;
    background-color: var(--dark-1);
    border: 1px solid var(--dark-1);
    border-radius: .75rem;
    font-family: var(--font-plain);
    font-size: 1rem;
    padding: .25rem;
}

form #due-date {
    width: 16ch;
}

form input:hover, form input:focus, form select:hover, form select:focus {
    border: 1px dashed var(--dark-4);
    outline: none;
}

form input::-webkit-input-placeholder {
    color: inherit;
    font-size: 1rem;
}

textarea {
    height: 6rem;
    width: 27ch;
    background-color: var(--dark-1);
    border: 1px solid var(--dark-1);
    border-radius: .75rem;
    font-family: var(--font-plain);
    font-size: 1rem;
    padding: .25rem;
}

textarea::placeholder {
    color: inherit;
}

textarea:hover, textarea:focus {
    border: 1px dashed var(--dark-4);
    outline: none;
}

form input::-webkit-input-placeholder {
    color: inherit;
    font-size: 1rem;
}

.lvl-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lvl-row2 {
    width: 27ch;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lvl-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#new-folder-color {
    margin-bottom: .5rem;
}

.color-picker {
    height: 2.25rem;
    width: 2.25rem;
    border: 1px solid var(--dark-1);
    border-radius: 3rem;
    color: var(--dark-4);
    font-family: var(--font-hand);
    font-size: 1.5rem;
    margin: .25rem;
}

.color-picker:hover, .color-picker:focus {
    border: 1px dashed var(--dark-4);
    transform: scale(1.2);
}

.color-picker:active {
    transform: scale(.9);
}

#cp1 {
    background-color: var(--cp1);
}

#cp2 {
    background-color: var(--cp2);    
}

#cp3 {
    background-color: var(--cp3);  
}

#cp4 {
    background-color: var(--cp4);  
}

#cp5 {
    background-color: var(--cp5);      
}

#cp6 {
    background-color: var(--cp6);      
}

#cp7 {
    background-color: var(--cp7);      
}

#cp8 {
    background-color: var(--cp8);      
}

#cp9 {
    background-color: var(--cp9);      
}

#cp10 {
    background-color: var(--cp10);      
}

.cancel, .submit {
    height: 2rem;
    width: 7rem;
    background-color: inherit;
    border: 1px solid var(--dark-1);
    border-radius: .5rem;
    color: var(--dark-1);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: 1rem;
    outline: none;
    margin-top: .25rem;
    padding: .25rem;
}

.cancel:hover, .cancel:focus, .submit:hover, .submit:focus  {
    border: 1px dashed var(--dark-1);
    transform: scale(1.2);
}

.cancel:active, .submit:active {
    transform: scale(.9);
}

#content {
}

.task {
    border-top: 1px dashed var(--cp7);
    border-bottom: 1px dashed var(--cp7);
    color: var(--cp7);
    font-family: var(--font-plain);
    margin: .5rem;
    padding: .5rem;
}

.task-notice {
    height: 1rem;
    width: 1rem;
    background-color: var(--dark-4);
    border: 1px dashed var(--cp7);
    border-radius: 1rem;
}

.lvl-row3 {
    width: 27ch;
    display: flex;
    justify-content: start;
    align-items: center;
}

#MMM {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-hand);
    font-size: 1rem;
    padding: 1rem;
}

/* The switch - the box around the slider */
.switch {
    height: 1.75rem;
    width: 3.75rem;
    position: relative;
    display: flex;
        justify-content: center;
        align-items: center;
 }

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-1);
    border: 1px solid var(--dark-1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 0px;
    background-color: var(--dark-at);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--dark-priority);
}

input:focus + .slider {
    border: 1px dashed var(--dark-4);
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 26px;
}

.slider.round:before {
    border-radius: 26px;
}

#priority-true-img {
    height: 1rem;
    width: 1rem;
    margin-bottom: -1.5rem;
}