@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


/* *********************** TABLE OF CONTENTS ********************* */
/* ROOT/SHARED                                                     */
/* --> LVL-COLS/LVL-ROWS/SECTION-BOT-PAD                           */
/* --> .NONE/.FLEX                                                 */
/* HEADER AND NAV                                                  */
/* --> STATUS BANNER                                               */
/* --> NEW TASK FORM/NEW FOLDER FORM  & UPDATE TASK/UPDATE FOLDER  */
/* --> NEW TASK FORM PRIORITY FLAG SWITCH                          */
/* FOLDER CONTENT/TASK CONTENT                                     */
/* MEDIA QUERIES                                                   */
/* *********************** TABLE OF CONTENTS ********************* */


/* ROOT/SHARED                                                     */

:root {
/* Dark Mode Palette */
    --dark-bkgd: #29292d; /* background */
    --dark-stba: #5c2534; /* status banner/btn */
    --dark-adta: #3f385d; /* new task/btn */
    --dark-adfo: #154a50; /* new folder/btn */
    --dark-dklt: #784618; /* dark-lite btn */
    --dark-alert: #a9fe00; /*alert color, contrasts  background*/
    --dark-contrast: #e0daa1; /* contrast against background */
    --dark-btn-active: #474759; /* btn activated*/

/* Dark Mode Folder Colors */
    --dmfc00: #e7e6e1;
    --dmfc01: #bc6a6a;
    --dmfc02: #ce9a8b;
    --dmfc03: #d8b949;
    --dmfc04: #689b4f;
    --dmfc05: #5ee2c1;
    --dmfc06: #29a9b4;
    --dmfc07: #7890d1;
    --dmfc08: #ad94c4;
    --dmfc09: #bc67b0;
    --dmfc10: #bd929f;

/* Light Mode Palette */
    --lite-bkgd: #e0daa1; /* background */
    --lite-stba: #f1cace; /* status banner/btn */
    --lite-adta: #dedbed; /* new task/btn */
    --lite-adfo: #ccece5; /* new folder/btn */
    --lite-dklt: #decfbb; /* dark-lite btn */
    --lite-alert: #a71b90; /*alert color, contrasts background*/
    --lite-contrast: #29292d; /* contrast against background */
    --lite-btn-active: #a6a67d; /* btn activated*/

/* Lite Mode Folder Colors */
    --lmfc00: #181819;
    --lmfc01: #6b1919;
    --lmfc02: #8f5e51;
    --lmfc03: #59533c;          
    --lmfc04: #445d37;
    --lmfc05: #1f6251;
    --lmfc06: #306165;
    --lmfc07: #3e4b70;
    --lmfc08: #4d3168;
    --lmfc09: #5c2054;
    --lmfc10: #4d3b40;

/* Font Families */
    --font-fancy: "Cabin Sketch", sans-serif;
    --font-hand: "Indie Flower", cursive;
    --font-plain:  "Questrial", sans-serif;

    --font-size-ti: .85rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.4rem;
    --title-font-size: 1.6rem;
    --title-img-size: 2.25rem;
    --btn-img-basic-size: 1.5rem;
    --status-btn-img-size: 1.25rem;
    --priority-flag-overdue-triangle: 1rem;
    --btn-round-hw: 2.75rem; /* Below value is also used as the border-radius of circular btns */
    --btn-status-bar-h: 2.25rem;
    --border-size: 2.75px;
    --border-radius-squarish: .75rem;
    --btn-scale-bg: 1.1;
    --btn-scale-sm: .9;
    --gap-basic: .5rem;
    --task-w: 100vw;
    --folder-w: 90vw;
    --switch-w: 3.75rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 2s ease, border-color 2s ease, text-decoration 2s ease;    ;
}

body {
    background-color: var(--bkgd); 
    margin: 0; 

    /* Color references */
    --bkgd: var(--dark-bkgd);
    --stba: var(--dark-stba);
    --adta: var(--dark-adta);
    --adfo: var(--dark-adfo);
    --dklt: var(--dark-dklt);
    --alert: var(--dark-alert);
    --contrast: var(--dark-contrast);
    --activated: var(--dark-btn-active);

    --fc00: var(--dmfc00);
    --fc01: var(--dmfc01);
    --fc02: var(--dmfc02);
    --fc03: var(--dmfc03);
    --fc04: var(--dmfc04);
    --fc05: var(--dmfc05);
    --fc06: var(--dmfc06);
    --fc07: var(--dmfc07);
    --fc08: var(--dmfc08);
    --fc09: var(--dmfc09);
    --fc10: var(--dmfc10);
}

.lite-mode {
    --bkgd: var(--lite-bkgd);
    --stba: var(--lite-stba);
    --adta: var(--lite-adta);
    --adfo: var(--lite-adfo);
    --dklt: var(--lite-dklt);
    --alert: var(--lite-alert);
    --contrast: var(--lite-contrast);;
    --activated: var(--lite-btn-active);

    --fc00: var(--lmfc00);
    --fc01: var(--lmfc01);
    --fc02: var(--lmfc02);
    --fc03: var(--lmfc03);
    --fc04: var(--lmfc04);
    --fc05: var(--lmfc05);
    --fc06: var(--lmfc06);
    --fc07: var(--lmfc07);
    --fc08: var(--lmfc08);
    --fc09: var(--lmfc09);
    --fc10: var(--lmfc10);
}


/* --> LVL-COLS/LVL-ROWS/SECTION-BOT-PAD                           */


.lvl-col {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
}

.lvl-col-folder-view {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.lvl-row {
    display: flex;
        justify-content: center;
        align-items: center;
    }

.lvl-row-start {
    display: flex;
    flex-direction: row;
        justify-content: start;
        align-items: center;
}

.lvl-row-end {
    display: flex;
        justify-content: end;
        align-items: center;
        gap: 3px;
}

.lvl-row-width {
    width: 27ch;
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap-basic);
}

.lvl-row-wrap {
    display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

.section-bot-pad {
    height: .5rem;
    background-color: var(--bkgd);
    margin:0;
}


/* --> .NONE/.FLEX                                                 */


#status-bar.none, #folder-content.none, .task-folder-p.none, #task-content.none, .task.none {
    display: none;
}

#new-task-form.flex, #new-folder-form.flex, #edit-task-form.flex, #edit-folder-form.flex {
    display: flex;
}


/* HEADER AND NAV                                                  */


header {
    height: fit-content;
    width: var(--task-w);
    background-color: var(--bkgd);
    border: none;
    color: var(--contrast);
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.font-fancy {
    font-family: var(--font-fancy);
}

#app-title-cont {
    height: fit-content;
    width: auto;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    font-size: var(--title-font-size);
}

#app-title-cont img {
    height: var(--title-img-size);
    width: auto;
    margin-left: .25rem;
    margin-right: .25rem;
}

.flipImg {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateY(180deg);
}

#MMM {
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-hand);
    font-size: var(--font-size-ti);
    margin: -.5rem 0 .25rem 0;
    padding: 0;
}

#app-date {
    height: calc(var(--font-size-md) * 1.5);
    width: 100vw;
    background-color: var(--contrast);
    color: var(--bkgd);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: var(--font-size-md);
    margin: 0;
    padding: .5rem;
}

#header-content {
        width: var(--task-w);
    border-top: var(--border-size) solid var(--contrast);
    border-bottom: var(--border-size) solid var(--contrast);
}

nav {
    height: auto;
    width: auto;
    display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(var(--gap-basic) * 2.5);
    margin: .75rem 0 .75rem 0;
}

nav button {
    height: var(--btn-round-hw);
    width: var(--btn-round-hw);
    border: var(--border-size) solid var(--contrast);
    border-radius: var(--btn-round-hw);
    display: flex;
        justify-content: center;
        align-items: center;
    padding: .25rem;
}

nav #status-btn{
    background-color: var(--stba);
}

nav #new-task-btn {
    background-color: var(--adta);
}

nav #new-folder-btn {
    background-color: var(--adfo);
}

nav #dark-lite-btn {
    background-color: var(--dklt);
}

nav button:hover, nav button:focus {
    border: var(--border-size) dashed var(--contrast);
    outline: none;
    transform: scale(var(--btn-scale-bg));
}

nav button:active {
    transform: scale(var(--btn-scale-sm));
}

nav button img {
    height: var(--btn-img-basic-size);
    width: auto;
}

#header-content {
    width: var(--task-w);
    display: block;
    margin: auto;
}

.sticky {
    z-index: 9;    
    width: var(--task-w);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom right, var(--bkgd), var(--activated));
    display: flex;
        justify-content: center;
        align-items: center;
}


/* --> STATUS BANNER                                               */


#status-bar {
    height: fit-content;
    background-color: var(--stba);
    border-top: var(--border-size) solid var(--contrast);
    border-bottom: var(--border-size) solid var(--contrast);
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-basic);
    padding: .75rem;
}

#status-bar-btns {
    display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--gap-basic);
}

#status-bar button {
    height: var(--btn-status-bar-h);
    width: fit-content;
    background-color: inherit;
    border: var(--border-size) solid var(--contrast);
    border-radius: var(--border-radius-squarish);
    color: var(--contrast);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: var(--font-size-md);
    outline: none;
    padding: .25rem;
}

#status-bar button:hover, #status-bar button:focus {
    background-color: var(--bkgd);
    border: var(--border-size) dashed var(--contrast);
    transform: scale(var(--btn-scale-bg));
}

#status-bar button:active {
    transform: scale(var(--btn-scale-sm));
}

#status-bar button img {
    height: var(--status-btn-img-size);
    width: auto;
    margin-right: .25rem;
}


/* --> NEW TASK FORM/NEW FOLDER FORM  & UPDATE TASK/UPDATE FOLDER  */


#new-task-form {
    background-color: var(--adta);
}

#new-folder-form {
    background-color: var(--adfo);
}

#edit-task-form, #edit-folder-form {
    background-color: var(--activated);
}

#new-task-form, #new-folder-form, #edit-task-form, #edit-folder-form {
    height: fit-content;
    
    border: var(--border-size) solid var(--bkgd); 
    display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gap-basic);
    font-family: var(--font-plain);
    font-size: var(--font-size-sm);
    padding: 1rem;
}

#new-task-img, #new-folder-img, #edit-task-img, #edit-folder-img {
    height: var(--btn-round-hw);
    width: auto;
    margin-right: .5rem;
}

#new-task-form p, #new-folder-form p, #edit-task-form p, #edit-folder-form p  {
    font-size: var(--title-font-size);
}

#new-task-form .form-field-title, #new-folder-form .form-field-title, #edit-task-form .form-field-title, #edit-folder-form .form-field-title {
    font-family: var(--font-hand);
    font-size: var(--font-size-md);
    margin-bottom: -.25rem;
}

form input, form select {
    height: calc(var(--font-size-sm) * 2);
    width: 27ch;
    background-color: var(--contrast);
    border: var(--border-size) solid var(--contrast);
    border-radius: var(--border-radius-squarish);
    color: var(--bkgd);
    font-family: var(--font-plain);
    font-size: var(--font-size-sm);
    padding: .25rem;
}

#new-task-priority-flag-img {
    height: var(--priority-flag-overdue-triangle);
    width: auto;
    align-self: center;
    margin-bottom: -1.5rem;
}

form #new-task-due-date {
    width: 16ch;
}

form #edit-task-due-date {
    width: 27ch;
}

form input:hover, form input:focus, form select:hover, form select:focus {
    background-color: var(--contrast);
    border: var(--border-size) dashed var(--bkgd);
    outline: none;
}

form input::-webkit-input-placeholder {
    color: inherit;
    font-size: var(--font-basic-size);
}

form input [type="date"] {
    color: var(--bkgd);
}

textarea {
    height: 6rem;
    width: 27ch;
    background-color: var(--contrast);
    border: var(--border-size) solid var(--contrast);
    border-radius: var(--border-radius-squarish);
    color: var(--bkgd);
    font-family: var(--font-plain);
    font-size: var(--font-size-sm);
    padding: .25rem;
}

textarea::placeholder {
    color: inherit;
}

textarea:hover, textarea:focus {
    border: var(--border-size) dashed var(--bkgd);
    outline: none;
}

form input::-webkit-input-placeholder {
    color: inherit;
    font-size: var(--font-size-sm);
}

#new-folder-color {
    margin-bottom: .5rem;
}

#new-folder-color-picked, #edit-folder-color-picked {
    height: 2rem;

    background-color: none;
    border: var(--border-size) solid var(--contrast);
    border-radius: var(--border-radius-squarish);

    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: var(--font-size-sm);
    margin-left: .25rem;
    padding: .25rem;
}

#new-folder-color-picked {
        width: 16.25ch;
    color: var(--contrast);
}

#edit-folder-color-picked {
        width: 18.25ch;
    color: var(--bkgd);
}

.color-picker-btn-cont1, .color-picker-btn-cont2 {
    display: flex;
    gap: calc(var(--gap-basic) / 2);
}

.color-picker-btn-cont1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.color-picker-btn {
    height: var(--btn-round-hw);
    width: var(--btn-round-hw);
    border: var(--border-size) solid var(--contrast);
    border-radius: var(--btn-round-hw);
    color: var(--bkgd);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-hand);
    font-size: var(--title-font-size);
    padding: .25rem;
}

.color-picker-btn:hover, .color-picker-btn:focus {
    border: var(--border-size) dashed var(--bkgd);
    transform: scale(var(--btn-scale-bg));
}

.color-picker-btn:active {
    transform: scale(var(--btn-scale-sm));
}

#fc01 {
    background-color: var(--fc01);
}

#fc02 {
    background-color: var(--fc02);    
}

#fc03 {
    background-color: var(--fc03);  
}

#fc04 {
    background-color: var(--fc04);  
}

#fc05 {
    background-color: var(--fc05);      
}

#fc06 {
    background-color: var(--fc06);      
}

#fc07 {
    background-color: var(--fc07);      
}

#fc08 {
    background-color: var(--fc08);      
}

#fc09 {
    background-color: var(--fc09);      
}

#fc10 {
    background-color: var(--fc10);      
}

.cancel, .submit {
    height: var(--btn-round-hw);
    width: calc(var(--btn-round-hw) * 3);
    background-color: inherit;
    border: var(--border-size) solid var(--contrast);
    border-radius: var(--border-radius-squarish);
    color: var(--contrast);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: var(--font-size-md);
    margin-top: .25rem;
    outline: none;    
    padding: .25rem;
}

.cancel:hover, .cancel:focus, .submit:hover, .submit:focus  {
    border: var(--border-size) dashed var(--contrast);
    transform: scale(var(--btn-scale-bg));
}

.cancel:active, .submit:active {
    transform: scale(var(--btn-scale-sm));
}


/* --> NEW TASK FORM PRIORITY FLAG SWITCH                          */


/* The switch, i.e., the box around the slider */
.switch {
    height: calc(var(--font-size-sm) * 2);
    width: var(--switch-w);
    position: relative;
    display: flex;
        justify-content: center;
        align-items: center;
 }

/* Hides default HTML checkbox */
.switch input {
    height: 0;
    width: 0;
    opacity: 0;
}

/* The actual slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--contrast);
    border: var(--border-size) solid var(--contrast);
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    content: "";
    height: 22px;
    width: 22px;
    position: absolute;
    left: 2px;
    bottom: 3px;
    background-color: var(--adta);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--alert);
}

input:focus + .slider {
    border: var(--border-size) dashed var(--adta);
}

input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
}

/* Rounded slider */
.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 26px;
}


/* FOLDER CONTENT/TASK CONTENT                                     */


#task-content, #folder-content {
    /* background-color: var(--bkgd); */
    background-image: linear-gradient(to bottom right, var(--bkgd), var(--activated));
    color: var(--contrast);
    margin: 0;
}

.folder {
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 0;
}

.folder-bar {
    height: fit-content;
    width: var(--folder-w);
    border: var(--border-size) solid;
    border-color: var(--bkgd);
    border-radius: calc(var(--font-size-sm) * 2);
    color: var(--bkgd);
    display: flex;
        justify-content: space-between;
        align-items: center;
    font-family: var(--font-plain);
    font-size: var(--font-size-md);
    font-weight: 800;
    margin-top: .5rem;
    padding: .5rem; 
}

.folder-task-num {
    margin-left: .25rem;
}

.folder-task-btn, .folder-edit-btn, .folder-trash-btn {
    height: var(--btn-round-hw);
    width: var(--btn-round-hw);
    background-color: var(--bkgd);
    border: var(--border-size) solid;
    border-color: var(--bkgd);
    border-radius: var(--btn-round-hw);
    display: flex;
        justify-content: center;
        align-items: center;
}

.folder-task-btn:hover, .folder-task-btn:focus, .folder-edit-btn:hover, .folder-edit-btn:focus, .folder-trash-btn:hover, .folder-trash-btn:focus {
    border: var(--border-size) dashed;
    border-color: var(--bkgd);
    transform: scale(var(--btn-scale-bg));
}

.folder-task-btn:active, .folder-edit-btn:active, .folder-trash-btn:active {
    transform: scale(var(--btn-scale-sm));
}

.folder-task-btn-img, .folder-folder-img, .folder-task-img, .folder-edit-btn-img, .folder-trash-btn-img {
    height: var(--btn-img-basic-size);
    width: auto;
}

.folder-folder-img {
    margin: 0 .25rem 0 .5rem;
}

.folder-task-img {
    margin: .25rem 0 0 .5rem;
}

.folder-task-field {
    height: fit-content;
    width: var(--folder-w);
    border: calc(var(--border-size) * 1.5) dashed;
    border-color: none;
    display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    font-family: var(--font-plain);
    font-size: var(--font-size-sm);
    font-weight: 800;
    margin: .5rem;
}

.task-folder-p {
    padding: .5rem;
}

.task-folder-p-date, .task-folder-p-cop {
    height: fit-content;
    width: fit-content;
    background-color: var(--activated);
    border-radius: var(--border-radius-squarish);
    font-size: var(--font-size-sm);
    margin: .5rem;
    padding: .5rem;
}

#no-current-task-msg {
    font-family: var(--font-hand);
    font-size: var(--title-font-size);
    text-align:start;
    margin: 0 1rem 1rem 1rem;
}

#task-content {
    width: var(--task-w);
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
}

.task {
    height: fit-content;
    width: var(--task-w);

    border-top: calc(var(--border-size) * 2) dashed;
    border-bottom: calc(var(--border-size) * 2) dashed;
    display: flex;
    flex-direction: column;
    font-family: var(--font-plain);
    font-weight: 800;
    margin: 0;
    padding: 1rem; 
}

.task-name {
    font-size: var(--font-size-lg);
    font-weight: 800;
    margin-bottom: .25rem;
    padding: 0 .25rem 0 .25rem;
}

.task-due-date, .task-folder {
    font-size: var(--font-size-sm);
    margin: 0;
    padding: .25rem .25rem .25rem .75rem;
}

.task-description {
    height: fit-content;
    background-color: var(--activated);
    border-radius: var(--border-radius-squarish);
    font-size: var(--font-size-sm);
    margin: 0 .75rem -.25rem .25rem;
    padding: .5rem;
}

.task-overdue-notice-img {
    height: var(--priority-flag-overdue-triangle);
    width: auto;
    display: flex;
    margin-left: .75rem;
    margin-right: .15rem;
}

.task-overdue-notice-p {
    color: var(--alert);
    display: flex;
    font-family: var(--font-hand);
    font-size: var(--font-size-md);
}

.task-priority-btn-img, .task-completed-btn-img, .task-edit-btn-img, .task-trash-btn-img {
    height: var(--btn-img-basic-size);
    width: auto;
}

.task button {
    height: var(--btn-round-hw);
    width: var(--btn-round-hw);
    background-color: var(--bkgd);
    border: var(--border-size) solid;
    border-color: var(--contrast);
    border-radius: var(--btn-round-hw);
    display: flex;
        justify-content: center;
        align-items: center;
}

.task-btn-cont {
    /* align-self: center; */
    gap: calc(var(--gap-basic) * 2.5);
    padding: .5rem 0 0 0;
}

.task button:hover, .task button:focus{
    border: var(--border-size) dashed;
    border-color: var(--contrast);
    transform: scale(var(--btn-scale-bg));
}

.task button:active {
    transform: scale(var(--btn-scale-sm));
}


/* MEDIA QUERIES                                                   */


/* @media only screen and (width < 900px) {

    #header-content {
        width: var(--task-w);
        display: block;
        margin: auto;
    }

    .sticky {
        z-index: 9;    
        width: var(--task-w);
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(to bottom right, var(--bkgd), var(--activated));
        display: flex;
            justify-content: center;
            align-items: center;
    }
} */

@media only screen and (width >= 600px) {

    :root {
        --viewport-scale-up: 1.125;
        --font-size-ti: calc(.85rem * var(--viewport-scale-up));
        --font-size-sm: calc(1rem * var(--viewport-scale-up));
        --font-size-md: calc(1.2rem * var(--viewport-scale-up));
        --font-size-lg: calc(1.4rem * var(--viewport-scale-up));
        --title-font-size: calc(1.6rem * var(--viewport-scale-up));
        --title-img-size: calc(2.25rem * var(--viewport-scale-up));
        --btn-img-basic-size: calc(1.5rem * var(--viewport-scale-up));
        --status-btn-img-size: calc(1.25rem * var(--viewport-scale-up));
        --priority-flag-overdue-triangle: calc(1rem * var(--viewport-scale-up));
        --btn-round-hw: calc(2.75rem * var(--viewport-scale-up)); 
        --btn-status-bar-h: calc(2.25rem  * var(--viewport-scale-up));
        --border-size: calc(2.75px * var(--viewport-scale-up));
        --switch-w: calc(3.75rem * var(--viewport-scale-up));
    }

    .slider:before {
        height: calc(22px * var(--viewport-scale-up));
        width: calc(22px * var(--viewport-scale-up));
        left: 2px;
        bottom: 3px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(calc(29px * var(--viewport-scale-up)));
        -ms-transform: translateX(calc(29px * var(--viewport-scale-up)));
        transform: translateX(calc(29px * var(--viewport-scale-up)));
    }

    .slider.round {
        border-radius: calc(22px * var(--viewport-scale-up));
    }

    .slider.round:before {
        border-radius:calc(26px * var(--viewport-scale-up));
    }

    .folder-task-name-img-row {
        align-self: start;
    }

    .folder-task-field {
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        flex-wrap: wrap;
    }
}

@media only screen and (width >= 900px) {

    :root {
        --viewport-scale-up: 1.25;
        --font-size-ti: calc(.85rem * var(--viewport-scale-up));
        --font-size-sm: calc(1rem * var(--viewport-scale-up));
        --font-size-md: calc(1.2rem * var(--viewport-scale-up));
        --font-size-lg: calc(1.4rem * var(--viewport-scale-up));
        --title-font-size: calc(1.6rem * var(--viewport-scale-up));
        --title-img-size: calc(2.25rem * var(--viewport-scale-up));
        --btn-img-basic-size: calc(1.5rem * var(--viewport-scale-up));
        --status-btn-img-size: calc(1.25rem * var(--viewport-scale-up));
        --priority-flag-overdue-triangle: calc(1rem * var(--viewport-scale-up));
        --btn-round-hw: calc(2.75rem * var(--viewport-scale-up)); 
        --btn-status-bar-h: calc(2.25rem  * var(--viewport-scale-up));
        --border-size: calc(2.75px * var(--viewport-scale-up));
        --switch-w: calc(3.75rem * var(--viewport-scale-up))
    }

    .slider:before {
        height: calc(22px * var(--viewport-scale-up));
        width: calc(22px * var(--viewport-scale-up));
        left: 2px;
        bottom: 3px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(calc(29px * var(--viewport-scale-up)));
        -ms-transform: translateX(calc(29px * var(--viewport-scale-up)));
        transform: translateX(calc(29px * var(--viewport-scale-up)));
    }

    .slider.round {
        border-radius: calc(22px * var(--viewport-scale-up));
    }

    .slider.round:before {
        border-radius:calc(26px * var(--viewport-scale-up));
    }

    #folder-content {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

    }

    .folder {
            flex-direction: row; 
            justify-content: space-evenly;
            align-items: start;
            flex-wrap: wrap;
    }

    .folder-task-field {
        width: 330px;
        
    }

    #task-content {
        display: flex;
        flex-direction: row;
            justify-content: center;
            align-items: start;
            flex-wrap: wrap;
    }

    .task {
        height: 330px;
        width: 330px;
        border: calc(var(--border-size) * 2) dashed;
            flex-direction: column; 
            justify-content: space-between;
            align-items: start;
        margin: 1rem;
    }

    .task-description {
        max-height: 5rem;
        margin: .15rem;
        overflow: auto;
    }

}