@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


/* ******* TABLE OF CONTENTS ******* */
/* ROOT/GLOBALS                      */
/* HEADER AND NAV                    */
/* --> STATUS BANNER                 */
/* --> NEW TASK FORM                 */
/* --> NEW FOLDER FORM               */
/* FOLDER CONTENT                    */
/* TASK CONTENT                      */
/* FOOTER                            */
/* ******* TABLE OF CONTENTS ******* */


/* ROOT/GLOBALS                      */

:root {
/* Dark Mode Palette */
--dark-bkgd: #29292d; /* background */
--dark-stba: #5c2534; /* status banner/btn */
--dark-adta: #3f385d; /* new task/btn */
--dark-adfo: #154a50; /* new folder/btn */
--dark-dklt: #784618; /* dark-lite btn */
--dark-alert: #a9fe00; /*alert color, contrasts  background*/
--dark-contrast: #e0daa1; /* contrast against background */
--dark-btn-active: #474759; /* btn activated*/

/* Dark Mode Folder Colors */
/* --dmfc00: var(--dark-contrast); */
/* --dmfc00: #c8c7b8; */
--dmfc00: var(--dark-contrast);
--dmfc01: #bc6a6a;
--dmfc02: #ce9a8b;
--dmfc03: #d8b949;
--dmfc04: #689b4f;
--dmfc05: #5ee2c1;
--dmfc06: #29a9b4;
--dmfc07: #7890d1;
--dmfc08: #ad94c4;
--dmfc09: #bc67b0;
--dmfc10: #bd929f;

/* Light Mode Palette */
--lite-bkgd: #e0daa1; /* background */
--lite-stba: #f1cace; /* status banner/btn */
--lite-adta: #dedbed; /* new task/btn */
--lite-adfo: #ccece5; /* new folder/btn */
--lite-dklt: #decfbb; /* dark-lite btn */
--lite-alert: #a71b90; /*alert color, contrasts background*/
--lite-contrast: #29292d; /* contrast against background */
--lite-btn-active: #a6a67d; /* btn activated*/

/* Lite Mode Folder Colors */
/* --lmfc00: var(--lite-contrast); */
/* --lmfc00: #383841; */
--lmfc00: var(--lite-contrast);
--lmfc01: #6b1919;
--lmfc02: #8f5e51;
--lmfc03: #59533c;
--lmfc04: #445d37;
--lmfc05: #1f6251;
--lmfc06: #306165;
--lmfc07: #3e4b70;
--lmfc08: #4d3168;
--lmfc09: #5c2054;
--lmfc10: #4d3b40;

/* Font Families */
--font-fancy: "Cabin Sketch", sans-serif;
--font-hand: "Indie Flower", cursive;
--font-plain:  "Questrial", sans-serif;

--btn-scale-bg: 1.1;
--btn-scale-sm: .9;

/* Sizing Values */
/* --font-title-size: 1.25rem; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    --bkgd: var(--dark-bkgd);
    --stba: var(--dark-stba);
    --adta: var(--dark-adta);
    --adfo: var(--dark-adfo);
    --dklt: var(--dark-dklt);
    --alert: var(--dark-alert);
    --contrast: var(--dark-contrast);
    --activated: var(--dark-btn-active);

    --fc00: var(--dmfc00);
    --fc01: var(--dmfc01);
    --fc02: var(--dmfc02);
    --fc03: var(--dmfc03);
    --fc04: var(--dmfc04);
    --fc05: var(--dmfc05);
    --fc06: var(--dmfc06);
    --fc07: var(--dmfc07);
    --fc08: var(--dmfc08);
    --fc09: var(--dmfc09);
    --fc10: var(--dmfc10);
}

.lite-mode {
    --bkgd: var(--lite-bkgd);
    --stba: var(--lite-stba);
    --adta: var(--lite-adta);
    --adfo: var(--lite-adfo);
    --dklt: var(--lite-dklt);
    --alert: var(--lite-alert);
    --contrast: var(--lite-contrast);;
    --activated: var(--lite-btn-active);

    --fc00: var(--lmfc00);
    --fc01: var(--lmfc01);
    --fc02: var(--lmfc02);
    --fc03: var(--lmfc03);
    --fc04: var(--lmfc04);
    --fc05: var(--lmfc05);
    --fc06: var(--lmfc06);
    --fc07: var(--lmfc07);
    --fc08: var(--lmfc08);
    --fc09: var(--lmfc09);
    --fc10: var(--lmfc10);
}


/* HEADER AND NAV                    */

header {
    height: fit-content;
        display: flex;
        flex-direction: column;
    background-color: var(--bkgd);
    color: var(--contrast);
    /* padding-top: .5rem; */
}

/* ++++++++++++++++ */
/* #header-ctrl-cont {
    max-width: 500px;
    display: block;

    margin: auto;
} */

/* .sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 75px;
    width: 100vw;
    max-width: 100%;
    background: var(--life-jacket);
    border-top: var(--border-px) solid var(--white);
    border-bottom: var(--border-px) solid var(--white); */

    /* CSS below was placed in a media query */
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px; */

    /* z-index: 9; */
/* } */

.font-fancy {
    font-family: var(--font-fancy);
}

#app-title-cont {
    height: fit-content;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    font-size: 1.5rem;
}

#app-title-cont img {
    height: 2.25rem;
    width: auto;
    margin-left: .35rem;
    margin-right: .35rem;
    /* padding-bottom: 1rem; */
}

#app-date {
    height: 1.5rem;
    width: 100vw;
    background-color: var(--contrast);
    color: var(--bkgd);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem;
}

#header-content {
    border-top: 2px solid var(--contrast);
    border-bottom: 2px solid var(--contrast);
}

nav {
    height: auto;
    width: auto;
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    font-size: var(--font-title-1);
    margin: 1rem 0 1rem 0;
}

nav button {
    height: 2.5rem;
    width: 2.5rem;
    border: 2.5px solid var(--contrast);
    border-radius: 2.5rem;
    display: flex;
        justify-content: center;
        align-items: center;
    padding: .25rem;
}

nav #status-btn{
    background-color: var(--stba);
}

nav #new-task-btn {
    background-color: var(--adta);
}

nav #new-folder-btn {
    background-color: var(--adfo);
}

nav #dark-lite-btn {
    background-color: var(--dklt);
}

nav button:hover, nav button:focus {
    border: 2.5px dashed var(--contrast);
    outline: none;
    transform: scale(var(--btn-scale-bg));
}

nav button:active {
    transform: scale(var(--btn-scale-sm));
}

nav button img {
    height: 1.5rem;
    width: 1.5rem;
}

/* #crown-img {
    display: flex;
}

#coffee-img {
    display: none;
} */

#status-bar.flex, #new-task-form.flex, #new-folder-form.flex {
    display: flex;
}

/* #status-bar.none, #new-task-form.none, #new-folder-form.none
{
    display: none;
} */


#status-bar {
    height: fit-content;
    background-color: var(--stba);
    border: 2px solid var(--bkgd); 
    display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    padding: .5rem;
}

#status-bar-btns {
    display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: .5rem;
}

#status-bar button {
    height: 2rem;
    width: fit-content;
    background-color: inherit;
    border: 2px solid var(--contrast);
    border-radius: .75rem;
    color: var(--contrast);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: 1rem;
    outline: none;
    padding: .25rem;
}

#status-bar button:hover, #status-bar button:focus {
    background-color: var(--bkgd);
    border: 2px dashed var(--contrast);
    transform: scale(var(--btn-scale-bg));
}

#status-bar button:active {
    transform: scale(var(--btn-scale-sm));
}

#status-bar button img {
    height: 1.125rem;
    width: auto;
    margin-right: .1rem;
}

#new-task-form {
    background-color: var(--adta);
}

#new-folder-form {
    background-color: var(--adfo);
}

#new-task-form, #new-folder-form {
    height: fit-content;
    border: 2px solid var(--bkgd); 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-plain);
    font-size: 1rem;
    padding: 1rem;
}

#new-task-img, #new-folder-img {
    height: 2.75rem;
    width: auto;
    margin-right: .5rem;
}

#new-task-form p, #new-folder-form p {
    font-size: 2rem;
}

#new-task-form .form-field-title, #new-folder-form .form-field-title {
    font-family: var(--font-hand);
    font-size: 1.25rem;
    margin-bottom: -.25rem;
}

form input, form select {
    height: 1.75rem;
    width: 27ch;
    background-color: var(--contrast);
    border: 2px solid var(--contrast);
    border-radius: .75rem;
    color: var(--bkgd);
    font-family: var(--font-plain);
    font-size: 1rem;
    padding: .25rem;
}

#new-task-priority-flag-img {
    height: 1rem;
    width: 1rem;
    margin-bottom: -1rem;
}

form #new-task-due-date {
    width: 16ch;
}

form input:hover, form input:focus, form select:hover, form select:focus {
    background-color: var(--contrast);
    border: 2px dashed var(--bkgd);
    outline: none;
}

form input::-webkit-input-placeholder {
    color: inherit;
    font-size: 1rem;
}

form input [type="date"] {
    color: var(--bkgd);
}

textarea {
    height: 6rem;
    width: 27ch;
    background-color: var(--contrast);
    border: 2px solid var(--contrast);
    border-radius: .75rem;
    color: var(--bkgd);
    font-family: var(--font-plain);
    font-size: 1rem;
    padding: .25rem;
}

textarea::placeholder {
    color: inherit;
}

textarea:hover, textarea:focus {
    border: 2px dashed var(--bkgd);
    outline: none;
}

form input::-webkit-input-placeholder {
    color: inherit;
    font-size: 1rem;
}

/* level rows and columns */

.lvl-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .lvl-row-start {
    display: flex;
    justify-content: start;
    align-items: center;
} */

.lvl-row-spaced {
    display: flex;
        justify-content: start;
        align-items: center;
        /* gap: .5rem */
}

.lvl-row-width {
    width: 27ch;
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem
}

.lvl-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#new-folder-color {
    margin-bottom: .5rem;
}

#new-folder-color-picked {
    height: 1.75rem;
    width: 15.5ch;
    background-color: none;
    border: 2px solid var(--contrast);
    border-radius: .75rem;
    color: var(--contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-plain);
  font-size: 1rem;
        margin-left: .25rem;
    padding: .25rem;
}

.color-picker-btn-cont1, .color-picker-btn-cont2 {
    display: flex;
    gap: .25rem;
}

.color-picker-btn-cont1 {
        margin-top: .5rem;
    margin-bottom: .5rem;

}

.color-picker-btn {
    height: 2.5rem;
    width: 2.5rem;
    border: 2.5px solid var(--contrast);
    border-radius: 2.5rem;
    color: var(--bkgd);
    font-family: var(--font-hand);
    font-size: 1.5rem;
    /* margin: .25rem; */
}

.color-picker-btn:hover, .color-picker-btn:focus {
    border: 2.5px dashed var(--bkgd);
    transform: scale(var(--btn-scale-bg));
}

.color-picker-btn:active {
    transform: scale(var(--btn-scale-sm));
}

#fc01 {
    background-color: var(--fc01);
}

#fc02 {
    background-color: var(--fc02);    
}

#fc03 {
    background-color: var(--fc03);  
}

#fc04 {
    background-color: var(--fc04);  
}

#fc05 {
    background-color: var(--fc05);      
}

#fc06 {
    background-color: var(--fc06);      
}

#fc07 {
    background-color: var(--fc07);      
}

#fc08 {
    background-color: var(--fc08);      
}

#fc09 {
    background-color: var(--fc09);      
}

#fc10 {
    background-color: var(--fc10);      
}

.cancel, .submit {
    height: 2rem;
    width: 7rem;
    background-color: inherit;
    border: 2px solid var(--contrast);
    border-radius: .75rem;
    color: var(--contrast);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-plain);
    font-size: 1rem;
    outline: none;
    margin-top: .25rem;
    padding: .25rem;
}

.cancel:hover, .cancel:focus, .submit:hover, .submit:focus  {
    border: 2px dashed var(--contrast);
    transform: scale(var(--btn-scale-bg));
}

.cancel:active, .submit:active {
    transform: scale(var(--btn-scale-sm));
}

#task-content, #folder-content {
    background-color: var(--bkgd);
    color: var(--contrast);
    /* margin: 0; */
}

/* #task-content.flex {
    display: flex;
    flex-direction: column;
} */

#folder-content.none {
    display: none;
}

.folder {
    height: fit-content;
    /* border-color: var(--bkgd); */
        border: 2.5px solid;
            border-color: var(--bkgd);
    border-radius: 2rem;
    color: var(--bkgd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-plain);
    font-size: 1.25rem;
    font-weight: 800;
    /* margin: .5rem; */
    /* TWEAK as needed */
    margin: 0 5px 0 5px;
    padding: 5px; 
}


.folder-task-btn, .folder-edit-btn {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--bkgd);
    border: 2.5px solid;
    border-color: var(--bkgd);
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: .25rem; */
}

.folder-task-btn:hover, .folder-task-btn:focus, .folder-edit-btn:hover, .folder-edit-btn:focus{
    /* background-color: var(--dark-yes); */
    border: 2.5px dashed;
    border-color: var(--bkgd);
    transform: scale(var(--btn-scale-bg));
}

.folder-task-btn:active, .folder-edit-btn:active {
    transform: scale(var(--btn-scale-sm));
}

/* DELETE trash btn img ref if I do not use it */
.folder-task-btn-img, .folder-folder-img, .folder-edit-btn-img, .folder-trash-btn-img {
height: 1.5rem;
/* background-color: var(--bkgd); */
}

.folder-folder-img {
margin: 0 .25rem 0 .5rem;
}

.folder-task-field {

}

.task-folder-p {
    font-family: var(--font-plain);
    font-size: 1rem;
    font-weight: 800;
    margin: 1rem;
    padding: .25rem;
}

.task-folder-p.none {
    display: none;
}

#task-content.none {
    display: none;
}




.section-bot-pad {
    height: .5rem;
    /* width: 100vw; */
    background-color: var(--bkgd);
    margin:0;
}

#no-current-task-msg {
    font-family: var(--font-hand);
    padding: 1rem;
}

.task {
    /* background-color: var(--alert); */
    border-top: 4px dashed;
    border-bottom: 4px dashed;
    /* border-color: var(--fc01); */
    /* color: var(--fc01); */
    display: block;
    font-family: var(--font-plain);
    font-weight: 800;
    /* margin: .5rem; */
    /* TWEAK as needed */
    margin:0;
    padding: 1rem; 
}

.task.none {
    display: none;
}


.task-name {
    font-size: 1.5rem;
    /* font-family: var(--font-fancy); */
    /* font-style: italic; */
    font-weight: 600;
    background-color: var(--bkgd);
    /* border:2px solid; */
    /* border-color: var(--bkgd); */
    border-color: none;
    border-radius: 1rem;
    margin-bottom: .25rem;
    padding: .25rem .5rem .25rem .5rem;
}

.task-due-date, .task-folder {
    font-size: 1rem;
    margin: 0;
    padding: .25rem .25rem .25rem .75rem;

    /* font-weight: 800; */
}

.task-description {
    height: fit-content;
    width: fit-content;
    background-color: var(--activated);
    border-radius: 1rem;
    font-size: 1rem;
    /* text-indent: .75rem; */
        margin: .25rem;
    padding: .5rem;
}

.task-overdue-notice-img {
    height: 1rem;
    width: 1rem;
    margin-left: .75rem;
    margin-right: .15rem;
}

.task-overdue-notice-p {
    color: var(--alert);
    font-family: var(--font-hand);
    font-size: 1rem;
    /* font-weight: 800; */
}

.task-priority-btn-img, .task-completed-btn-img, .task-edit-btn-img, .task-trash-btn-img {
height: 1.5rem;
}



.task button {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--bkgd);
    border: 2.5px solid;
    border-color: var(--contrast);
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: .25rem; */
}



.task-btn-cont {
    gap: 1.25rem;
    /* padding-top: .5rem; */
    padding: .5rem 0 0 0;
}

.task button:hover, .task button:focus{
    /* background-color: var(--dark-yes); */
    border: 2.5px dashed;
    /* border-color: var(--fc01); */
    transform: scale(var(--btn-scale-bg));
}

.task button:active {
    transform: scale(var(--btn-scale-sm));
}


/* .task select {
    height: 2rem;
    width: fit-content;
    background-color: var(--bkgd);
    border: 1.5px solid var(--fc07);
    border-radius: 2rem;
    color: var(--fc07);
    font-size: 1rem;

} */

/* .task select:hover, .task select:focus{
    border: 1.5px dashed var(--fc07);
    outline: none;
} */



footer {
    background-color: var(--bkgd);
        border-top: 4px solid var(--contrast);
    color: var(--contrast);
}

#MMM {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-hand);
    font-size: 1rem;
    padding: 1rem;
}

/* The switch - the box around the slider */
.switch {
    height: 1.75rem;
    width: 3.75rem;
    position: relative;
    display: flex;
        justify-content: center;
        align-items: center;
 }

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--contrast);
    border: 2px solid var(--contrast);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 1.5px;
    bottom: 1.5px;
    background-color: var(--adta);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--alert);
}

input:focus + .slider {
    border: 2px dashed var(--adta);
}

input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 26px;
}

